body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:2123px;
}
#u3865 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:1369px;
  width:1088px;
  height:2123px;
  display:flex;
}
#u3865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:1991px;
}
#u3866 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:1501px;
  width:1088px;
  height:1991px;
  display:flex;
}
#u3866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:1286px;
}
#u3867 {
  border-width:0px;
  position:absolute;
  left:1664px;
  top:1637px;
  width:1088px;
  height:1286px;
  display:flex;
}
#u3867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:1490px;
}
#u3868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:430px;
  width:1088px;
  height:1490px;
  display:flex;
}
#u3868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u3865.a {
}
#u3865_img.a {
}
#u3865.a {
}
#u3865_text.a {
}
#u3865 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3866.a {
}
#u3866_img.a {
}
#u3866.a {
}
#u3866_text.a {
}
#u3866 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3867.a {
}
#u3867_img.a {
}
#u3867.a {
}
#u3867_text.a {
}
#u3867 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3868.a {
}
#u3868_img.a {
}
#u3868.a {
}
#u3868_text.a {
}
#u3868 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
