body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:120px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:7px;
  width:50px;
  height:30px;
  display:flex;
  text-align:center;
}
#u2191 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:7px;
  width:50px;
  height:30px;
  display:flex;
  text-align:center;
}
#u2192 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:7px;
  width:50px;
  height:30px;
  display:flex;
  text-align:center;
}
#u2193 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:13px;
  width:50px;
  height:30px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u2194 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:67px;
  width:50px;
  height:30px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2195 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:67px;
  width:60px;
  height:30px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2196 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:67px;
  width:50px;
  height:30px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2197 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:2px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:26px;
  width:10px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90.0973559975615deg);
  -moz-transform:rotate(90.0973559975615deg);
  -ms-transform:rotate(90.0973559975615deg);
  transform:rotate(90.0973559975615deg);
}
#u2198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:2px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:22px;
  width:10px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90.0973559975615deg);
  -moz-transform:rotate(90.0973559975615deg);
  -ms-transform:rotate(90.0973559975615deg);
  transform:rotate(90.0973559975615deg);
}
#u2199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:2px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:22px;
  width:10px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90.0973559975615deg);
  -moz-transform:rotate(90.0973559975615deg);
  -ms-transform:rotate(90.0973559975615deg);
  transform:rotate(90.0973559975615deg);
}
#u2200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2201_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:29px;
  height:7px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:25px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-0.0312633314732019deg);
  -moz-transform:rotate(-0.0312633314732019deg);
  -ms-transform:rotate(-0.0312633314732019deg);
  transform:rotate(-0.0312633314732019deg);
  color:#E31951;
}
#u2201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:67px;
  width:60px;
  height:30px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2202 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:67px;
  width:120px;
  height:30px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2203 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  padding:0px 5px 0px 15px;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2204_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  padding:0px 5px 0px 15px;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2204_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  padding:0px 5px 0px 15px;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:69px;
  width:86px;
  height:30px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u2204 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u2204_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(227, 25, 81, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u2204.focused {
}
#u2204_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u2204.disabled {
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:77px;
  width:15px;
  height:15px;
  display:flex;
}
#u2205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4 Bold', 'Freesentation 4 Regular', 'Freesentation 4', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:67px;
  width:50px;
  height:30px;
  display:flex;
  font-family:'Freesentation 4 Bold', 'Freesentation 4 Regular', 'Freesentation 4', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2206 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:67px;
  width:50px;
  height:30px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2207 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:67px;
  width:50px;
  height:30px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2208 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:67px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2209 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:60px;
  width:80px;
  height:39px;
  display:flex;
}
#u2210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:13px;
  width:50px;
  height:30px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u2211 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:13px;
  width:50px;
  height:30px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u2212 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:2px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:26px;
  width:10px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90.0973559975615deg);
  -moz-transform:rotate(90.0973559975615deg);
  -ms-transform:rotate(90.0973559975615deg);
  transform:rotate(90.0973559975615deg);
}
#u2213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(6, 112, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:1200px;
  height:50px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2215 {
  position:absolute;
  left:423px;
  top:345px;
}
#u2215_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:354px;
  height:357px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2215_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:293px;
  width:354px;
  height:64px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2216 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4 Bold', 'Freesentation 4 Regular', 'Freesentation 4', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:42px;
  display:flex;
  font-family:'Freesentation 4 Bold', 'Freesentation 4 Regular', 'Freesentation 4', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u2217 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:129px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:119px;
  width:131px;
  height:129px;
  display:flex;
}
#u2218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2215_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:354px;
  height:476px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2215_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:125px;
  width:115px;
  height:115px;
  display:flex;
}
#u2219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:293px;
  width:354px;
  height:64px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2220 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(128, 128, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:392px;
  width:280px;
  height:50px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4 Bold', 'Freesentation 4 Regular', 'Freesentation 4', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:42px;
  display:flex;
  font-family:'Freesentation 4 Bold', 'Freesentation 4 Regular', 'Freesentation 4', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u2222 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:460px;
  width:142px;
  height:16px;
  display:flex;
}
#u2223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:190px;
  width:34px;
  height:34px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:224px;
  width:120px;
  height:28px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:207px;
  width:380px;
  height:1px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:190px;
  width:34px;
  height:34px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:224px;
  width:68px;
  height:28px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:207px;
  width:380px;
  height:1px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:190px;
  width:34px;
  height:34px;
  display:flex;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4 Bold', 'Freesentation 4 Regular', 'Freesentation 4', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:224px;
  width:68px;
  height:28px;
  display:flex;
  font-family:'Freesentation 4 Bold', 'Freesentation 4 Regular', 'Freesentation 4', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u2190.a {
  width:480px;
  height:111px;
}
#u2190_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2190.a {
  width:480px;
  height:111px;
}
#u2190_text.a {
}
#u2190 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2191.a {
}
#u2191_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2191.a {
}
#u2191_text.a {
}
#u2191 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2192.a {
}
#u2192_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2192.a {
}
#u2192_text.a {
}
#u2192 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2193.a {
}
#u2193_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2193.a {
}
#u2193_text.a {
}
#u2193 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2194.a {
}
#u2194_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2194.a {
}
#u2194_text.a {
}
#u2194 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2195.a {
}
#u2195_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2195.a {
}
#u2195_text.a {
}
#u2195 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2196.a {
}
#u2196_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2196.a {
}
#u2196_text.a {
}
#u2196 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2197.a {
}
#u2197_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2197.a {
}
#u2197_text.a {
}
#u2197 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2198.a {
}
#u2198_img.a {
}
#u2198.a {
}
#u2198_text.a {
}
#u2198 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2199.a {
}
#u2199_img.a {
}
#u2199.a {
}
#u2199_text.a {
}
#u2199 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2200.a {
}
#u2200_img.a {
}
#u2200.a {
}
#u2200_text.a {
}
#u2200 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2201.a {
}
#u2201_img.a {
}
#u2201.a {
}
#u2201_text.a {
}
#u2201 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2202.a {
}
#u2202_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2202.a {
}
#u2202_text.a {
}
#u2202 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2203.a {
}
#u2203_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2203.a {
}
#u2203_text.a {
}
#u2203 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2204_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  padding:0px 5px 0px 15px;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2204_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u2204.a {
}
#u2204_input.focused.a {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  padding:0px 5px 0px 15px;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2204_div.focused.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(227, 25, 81, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u2204.a.focused {
}
#u2204_input.disabled.a {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  padding:0px 5px 0px 15px;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2204_div.disabled.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u2204.a.disabled {
}
#u2205.a {
}
#u2205_img.a {
}
#u2205.a {
}
#u2205_text.a {
}
#u2205 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2206.a {
  left:58px;
}
#u2206_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4 Bold', 'Freesentation 4 Regular', 'Freesentation 4', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2206.a {
  left:58px;
}
#u2206_text.a {
}
#u2206 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2207.a {
  left:125px;
}
#u2207_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2207.a {
  left:125px;
}
#u2207_text.a {
}
#u2207 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2208.a {
  left:279px;
}
#u2208_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2208.a {
  left:279px;
}
#u2208_text.a {
}
#u2208 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2209.a {
  left:346px;
  width:70px;
}
#u2209_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2209.a {
  left:346px;
  width:70px;
}
#u2209_text.a {
}
#u2209 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2210.a {
  left:68px;
  top:14px;
  width:60px;
  height:29px;
}
#u2210_img.a {
  width:60px;
  height:29px;
}
#u2210.a {
  left:68px;
  top:14px;
  width:60px;
  height:29px;
}
#u2210_text.a {
}
#u2210 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2211.a {
  left:280px;
}
#u2211_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2211.a {
  left:280px;
}
#u2211_div.selected.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2211.a.selected {
}
#u2211_text.a {
}
#u2211 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2212.a {
  left:336px;
}
#u2212_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2212.a {
  left:336px;
}
#u2212_text.a {
}
#u2212 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2213.a {
  left:327px;
  top:27px;
}
#u2213_img.a {
}
#u2213.a {
  left:327px;
  top:27px;
}
#u2213_text.a {
}
#u2213 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2214.a {
}
#u2214_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(6, 112, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2214.a {
}
#u2214_text.a {
}
#u2214 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2215.a {
  position:absolute;
  left:423px;
  top:345px;
}
#u2216.a {
}
#u2216_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2216.a {
}
#u2216_text.a {
}
#u2216 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u2217.a {
}
#u2217_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4 Bold', 'Freesentation 4 Regular', 'Freesentation 4', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u2217.a {
}
#u2217_text.a {
}
#u2217 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u2218.a {
}
#u2218_img.a {
}
#u2218.a {
}
#u2218_text.a {
}
#u2218 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2219.a {
}
#u2219_img.a {
}
#u2219.a {
}
#u2219_text.a {
}
#u2219 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2220.a {
}
#u2220_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2220.a {
}
#u2220_text.a {
}
#u2220 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u2221.a {
}
#u2221_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(128, 128, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2221.a {
}
#u2221_text.a {
}
#u2221 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2222.a {
}
#u2222_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4 Bold', 'Freesentation 4 Regular', 'Freesentation 4', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u2222.a {
}
#u2222_text.a {
}
#u2222 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u2223.a {
}
#u2223_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2223.a {
}
#u2223_text.a {
}
#u2223 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u2215_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:354px;
  height:357px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2215_state1.a {
  position:relative;
  left:0px;
  top:0px;
  width:354px;
  height:476px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2224.a {
}
#u2224_img.a {
}
#u2224.a {
}
#u2224_text.a {
}
#u2224 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2225.a {
}
#u2225_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2225.a {
}
#u2225_text.a {
}
#u2225 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2226.a {
}
#u2226_img.a {
}
#u2226.a {
}
#u2226_text.a {
}
#u2226 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2227.a {
}
#u2227_img.a {
}
#u2227.a {
}
#u2227_text.a {
}
#u2227 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2228.a {
}
#u2228_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2228.a {
}
#u2228_text.a {
}
#u2228 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2229.a {
}
#u2229_img.a {
}
#u2229.a {
}
#u2229_text.a {
}
#u2229 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2230.a {
}
#u2230_img.a {
}
#u2230.a {
}
#u2230_text.a {
}
#u2230 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2231.a {
}
#u2231_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Freesentation 4 Bold', 'Freesentation 4 Regular', 'Freesentation 4', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2231.a {
}
#u2231_text.a {
}
#u2231 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
