
#u2080.a {
}
#u2080_img.a {
}
#u2080.a {
}
#u2080_text.a {
}
#u2080 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2081.a {
}
#u2081_img.a {
}
#u2081.a {
}
#u2081_text.a {
}
#u2081 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2082.a {
}
#u2082_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:4px;
  background:inherit;
  background-color:rgba(8, 84, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2082.a {
}
#u2082_text.a {
}
#u2082 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2083.a {
}
#u2083_img.a {
}
#u2083.a {
}
#u2083_img.a.mouseOver {
}
#u2083.a.mouseOver {
}
#u2083_img.a.mouseDown {
}
#u2083.a.mouseDown {
}
#u2083_text.a {
}
#u2083 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
